<%= render partial: "shared/notice" %>
<%= render 'login_header' %>
<div class="ui fluid container">
  <div class="ui middle aligned center aligned grid no-margin">
    <div class="column">
      <h2 class="ui teal header">
          Adler-i Flights Login
      </h2>
      <%= render partial: "forms/login" %>
      <div class="ui message">
          New to Adler-i Flights?
          <%= link_to "Sign Up", signup_path %>
      </div>
    </div>
  </div>
</div>
