<%= render partial: "shared/header" %>
  <h1 class="ui horizontal divider header">
    <i class="history icon"></i>
    Booking List
  </h1>
  <div class="ui container">
      <table class="ui celled table">
        <thead>
          <tr>
            <th>Booking Number</th>
            <th>Departing Airport</th>
            <th>Arriving Airport</th>
            <th>Plane Name</th>
            <th>Flight Date</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "past_booking", locals: { bookings: @bookings } %>
        </tbody>
      </table>
  </div>

<%= render partial: "shared/footer" %>
