<section id="footer">
  <div class="ui black inverted vertical segment">
    <div class="ui center aligned container">
      <%= link_to root_path, class: 'item' do %>
        &copy; Adler-i Flights - sajjadmurtaza.nxb@gmail.com
      <% end %>
    </div>
  </div>
</section>
