<div class="ui small inverted menu">
  <%= link_to 'Home', root_path, class: root_class %>
  <%= active_link_to 'Manage Bookings', search_booking_path, class_active: 'active item', class_inactive: 'item' %>

  <div class="right menu">
    <%= render partial: "shared/right_menu" %>
  </div>
</div>
